@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

.patua {
  font-family: "Patua One", cursive;
}

.secular {
  font-family: "Secular One", sans-serif;
}

.heebo {
  font-family: "Heebo", sans-serif;
}

.rslab {
  font-family: "Roboto Slab", serif;
}

$dark: #403f4c;
$altdark: #212529;
$yellow: #f9dc5c;
$green: #00dc82;
